/* Wrapper for the slider */
.slider-wrapper {
  position: relative;
  padding-bottom: 40px; /* Space for arrows */
}

/* Custom arrow styles */
.arrow {
  position: absolute;
  bottom: -50px; /* Position below the slider */
  transform: translateY(-20%);
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

/* Positioning for desktop */
.next {
  right: 45%;
}

.prev {
  left: 45%;
}

/* Disabled state for arrows */
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .next {
    right: 42%;
  }
  .prev {
    left: 42%;
  }
}

@media (max-width: 768px) {
  .next {
    right: 42%;
  }
  .prev {
    left: 42%;
  }
}

@media (max-width: 550px) {
  .next {
    right: 35%;
  }
  .prev {
    left: 35%;
  }
}

@media (max-width: 400px) {
  .next {
    right: 33%;
  }
  .prev {
    left: 33%;
  }
}
