/* Wrapper for the slider */
.slider-wrapper {
  position: relative;
  padding-bottom: -0px; /* Space for arrows */
}

/* Custom arrow styles */
.arrow {
  position: absolute;
  bottom: -50px;
  transform: translateY(-22%);
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  transition: background-color 0.3s ease;
}

.slick-dots {
  position: absolute;
  bottom: -37px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: -10;
  gap: 8px;
  list-style: none;
}

.slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: rgb(174, 174, 174);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.slick-dots li.slick-active {
  background-color: blue !important;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

/* Positioning for desktop */
.next {
  right: 40%;
}

.prev {
  left: 40%;
}

/* Disabled state for arrows */
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

/* Responsive adjustments */
@media (max-width: 1300px) {
  .next {
    right: 42%;
  }
  .prev {
    left: 42%;
  }
}

@media (max-width: 1124px) {
  .next {
    right: 40%;
  }
  .prev {
    left: 40%;
  }
}

@media (max-width: 1023px) {
  .next {
    right: 24%;
  }
  .prev {
    left: 24%;
  }
}

@media (max-width: 920px) {
  .next {
    right: 39%;
  }
  .prev {
    left: 39%;
  }
}

@media (max-width: 860px) {
  .next {
    right: 37%;
  }
  .prev {
    left: 37%;
  }
}

@media (max-width: 768px) {
  .next {
    right: 37%;
  }
  .prev {
    left: 37%;
  }
}

@media (max-width: 550px) {
  .next {
    right: 31%;
  }
  .prev {
    left: 31%;
  }
}

@media (max-width: 435px) {
  .next {
    right: 24%;
  }
  .prev {
    left: 24%;
  }
}

@media (max-width: 380px) {
  .next {
    right: 22%;
  }
  .prev {
    left: 22%;
  }
}

@media (max-width: 350px) {
  .next {
    right: 20%;
  }
  .prev {
    left: 20%;
  }
}