.newsbanner {
  height: 420px;
  position: relative;
  overflow: hidden;
}


@media screen and (max-width: 768px) {
  .newsbanner {
    height: 300px !important;
  }
}

@media screen and (max-width: 500px) {
  .newsbanner {
    height: 240px !important;
  }
}
